In [1]:
# Importing useful packages
import numpy as np
from scipy import stats
import pandas as pd
import sklearn as sk
import seaborn as sb
import datetime as dt
import pylab 
import matplotlib.pyplot as plt
import pandas.plotting._core as _gfx
%matplotlib inline

In [2]:
#This reads in the excel file
ipo_data = pd.read_excel("Competation #1 Raw Data_New.xlsx",header=0,na_values='-' )
#print(ipo_data.dtypes)

In [3]:
ipo_data.C2 = ipo_data.C2.astype(bool)
#Changes missing data into the mean
ipo_data=ipo_data.fillna(ipo_data.mean())
# printing summary stats
ipo_data.describe()

,P(IPO),P(H),P(L),P(1Day),C1,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
count,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,6.820000e+02,6.820000e+02,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,13.837666,15.481190,13.515045,25.934766,149.728788,1.788904,0.007282,4.935776e+07,1.241519e+07,500.459962,465.634361,12758.606461,11395.844347,294.353891,679.220264,68.421439,120.104258,144.759178
std,6.031467,6.604398,5.792641,72.042293,150.328785,158.308600,0.032775,1.039156e+08,2.501761e+07,1558.767222,175.612567,5445.641920,4836.115518,121.443374,472.566975,39.067810,84.766654,69.225403
min,3.000000,0.000000,3.000000,0.000000,10.000000,-786.239000,-0.162352,3.693227e+06,5.250000e+05,0.074000,132.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,20.000000,26.000000
25%,10.000000,13.000000,11.000000,11.092500,85.000000,-0.750000,-0.013352,1.874682e+07,5.004180e+06,41.511500,351.250000,9195.750000,8168.000000,213.250000,462.250000,45.000000,73.000000,100.000000
50%,13.500000,15.481190,13.000000,15.000000,110.000000,0.070000,0.007282,2.759165e+07,7.500000e+06,134.738000,444.500000,12047.000000,10789.000000,279.500000,624.500000,60.000000,100.500000,134.000000
75%,17.000000,17.000000,15.000000,21.030001,152.750000,0.600000,0.030941,4.938184e+07,1.208721e+07,500.459962,550.750000,15240.250000,13751.500000,353.750000,794.500000,84.750000,141.750000,173.000000
max,85.000000,135.000000,108.000000,1159.200562,2087.000000,3864.500000,0.092896,2.138085e+09,4.212336e+08,30683.000000,1750.000000,49056.000000,43952.000000,1058.000000,10277.000000,309.000000,944.000000,883.000000

In [4]:
#df_zscore = (ipo_data - ipo_data.mean())/ipo_data.std()

df = pd.DataFrame({'C1':ipo_data['C1']
                           
                    
                      ,'C3':ipo_data['C3']
                      ,'C4':ipo_data['C4']
                      
                      ,'C5':ipo_data['C5']
                      ,'C6':ipo_data['C6']
                      ,'C7':ipo_data['C7']  
                      ,'T1':ipo_data['T1']
                      ,'T2':ipo_data['T2']
                      ,'T3':ipo_data['T3']
                      ,'T4':ipo_data['T4']
                      ,'S1':ipo_data['S1']
                      ,'S2':ipo_data['S2']
                      ,'S3':ipo_data['S3']})

In [5]:
#Calculate Zscore
df['zscore'] = (df['C3'] - df['C3'].mean())/df['C3'].std(ddof=0)
df.describe()

,C1,C3,C4,C5,C6,C7,S1,S2,S3,T1,T2,T3,T4,zscore
count,682.000000,682.000000,682.000000,6.820000e+02,6.820000e+02,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,6.820000e+02
mean,149.728788,1.788904,0.007282,4.935776e+07,1.241519e+07,500.459962,68.421439,120.104258,144.759178,465.634361,12758.606461,11395.844347,294.353891,-7.071287e-17
std,150.328785,158.308600,0.032775,1.039156e+08,2.501761e+07,1558.767222,39.067810,84.766654,69.225403,175.612567,5445.641920,4836.115518,121.443374,1.000734e+00
min,10.000000,-786.239000,-0.162352,3.693227e+06,5.250000e+05,0.074000,-1.000000,20.000000,26.000000,132.000000,0.000000,0.000000,0.000000,-4.981449e+00
25%,85.000000,-0.750000,-0.013352,1.874682e+07,5.004180e+06,41.511500,45.000000,73.000000,100.000000,351.250000,9195.750000,8168.000000,213.250000,-1.604946e-02
50%,110.000000,0.070000,0.007282,2.759165e+07,7.500000e+06,134.738000,60.000000,100.500000,134.000000,444.500000,12047.000000,10789.000000,279.500000,-1.086590e-02
75%,152.750000,0.600000,0.030941,4.938184e+07,1.208721e+07,500.459962,84.750000,141.750000,173.000000,550.750000,15240.250000,13751.500000,353.750000,-7.515553e-03
max,2087.000000,3864.500000,0.092896,2.138085e+09,4.212336e+08,30683.000000,309.000000,944.000000,883.000000,1750.000000,49056.000000,43952.000000,1058.000000,2.441779e+01

In [ ]:
# this shows if there are more positive or negative works in a MD&A section. 
df['+/- count'] = (df['S1'] - df['S2'])
df